<!DOCTYPE html>
<html>
<head>
  <title>Pomodoro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "layouts/header" %>
  <div class="col-xs-2"></div>
  <div class="col-xs-8 col-xs-2-offset user-auth-portal">
    <%= yield %>
  </div>

</body>
</html>
